﻿@model KanzoBus.Web.ViewModels.DriverViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Driver"))
{
    @Html.HiddenFor(d=>d.DriverId)
        <div class="form-group col-xs-12">
            @Html.LabelFor(d => d.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group col-xs-12">
            @Html.LabelFor(d => d.LastName)
            @Html.TextBoxFor(d => d.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group col-xs-12">
            @Html.LabelFor(d => d.Email)
            @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
        </div>
        <div class="form-group col-xs-12">
            @Html.LabelFor(d => d.Password)
            @Html.TextBoxFor(d => d.Password, new { @class = "form-control" })
        </div>
        <div class="form-group col-xs-12">
            @Html.LabelFor(d => d.Qualification)
            @Html.TextBoxFor(d => d.Qualification, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
}

